body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100vw;
  height: 100vh;
}

html {
  overflow: scroll;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}
::-webkit-scrollbar {
  display: none;
}

/* Loader Styles */
#root:empty {
  position: absolute;
  top: calc(50% - 4em);
  left: calc(50% - 4em);
  width: 6em;
  height: 6em;
  border: 1.1em solid rgba(0, 102, 153, 0.2);
  border-left: 1.1em solid #006699;
  border-radius: 50%;
  animation: load8 2s infinite linear;
}

#root:empty:before {
  content: " ";
  display: block;
  position: absolute;
  width: 200px;
  height: 70px;
  top: 150px;
  background-image: url(/images/logo-web.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  animation: cancelLoad 2s infinite linear;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes cancelLoad {
  0% {
    transform: rotate(-0deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

/*Canvas*/
#root {
  width: 100%;
  height: 100%;
}

#root.dialog-open {
  overflow:hidden;
  width: 100vw!important;
  height: 100vh!important;
}

.canvas {
  margin: auto;
  position: relative;
}

.junk {
  float: left;
  background-color: red;
  width: 100px;
  height: 100px;
}

.junk:nth-child(2n+1){
  background-color: blue;
}
